@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #00021a;
}

.titles {
  font-family: "League Spartan", sans-serif;
  text-shadow: 1px 2px 2px #3b82f6;
}

.no-title {
  font-family: "League Spartan", sans-serif;
}

.main {
  font-family: "League Spartan", sans-serif;
  text-shadow: 1px 2px 2px #3b82f6;
}

* {
  scrollbar-width: bold;
  scrollbar-color: #3b82f6 #00021a;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #00021a;
}

*::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

section .container div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-empty {
  background-image: url("../../images/projects/project-empty.jpg");
}

.project-1up-store {
  background-image: url("../../images/projects/project-1up-store.jpg");
}

.project-app-clima {
  background-image: url("../../images/projects/project-app-clima.jpg");
}

.project-editor-texto {
  background-image: url("../../images/projects/project-editor-de-texto.jpg");
}

.project-gerador-qr-code {
  background-image: url("../../images/projects/project-gerador-qr-code.jpg");
}

.project-god-of-war {
  background-image: url("../../images/projects/project-god-of-war.jpg");
}

.project-king-barber {
  background-image: url("../../images/projects/project-king-barber.jpg");
}

.project-meu-palpite {
  background-image: url("../../images/projects/project-meu-palpite.jpg");
}

.project-monster-quiz {
  background-image: url("../../images/projects/project-monster-quiz.jpg");
}

.project-my-finances {
  background-image: url("../../images/projects/project-my-finances.jpg");
}

.project-best-trip {
  background-image: url("../../images/projects/project-best-trip.jpg");
}

.project-pokedex {
  background-image: url("../../images/projects/project-pokedex.jpg");
}

.project-quiz-hunter {
  background-image: url("../../images/projects/project-quiz-hunter.jpg");
}

.reveal {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateX(0);
  opacity: 1;
}

.alien {
  height: 33px;
  width: 50px;
  background-size: 20px;
  background: url("../../images/aliens/alien-1.svg") 0px 0px;
  animation: play 0.8s steps(1) infinite;
}

@keyframes play {
  50% {
    background: url("../../images/aliens/alien-2.svg");
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes opacity {
  100% {
    opacity: 0;
  }
}

span:nth-child(1) {
  animation: fade-in 0.4s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 1.6s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.animblur {
  opacity: 0;
  filter: blur(4px);
  animation: fade-in 0.5s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
